name: CI

on: pull_request

permissions: {}

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: '13'
        distribution: 'adopt'
    - name: Run tests and javadoc
      run: ./gradlew check javadoc
