name: CI

on: pull_request

permissions: {}

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up JDK
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: '13'
        distribution: 'adopt'
    - name: Run tests and javadoc
      run: ./gradlew check javadoc
