name: CI

on: pull_request

permissions: {}

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up JDK
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '13'
        distribution: 'adopt'
    - name: Run tests and javadoc
      run: ./gradlew check javadoc
