name: Release

on:
  release: #note: fortunately this event is not triggered for draft releases, as `released` could include drafts
    types: [ prereleased, released ]

permissions: {}

jobs:
  publishRelease:
    runs-on: ubuntu-22.04
    environment: release
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Publish Release
        if: endsWith(github.event.release.tag_name, '.RELEASE')
        run: ./gradlew --no-daemon -Pversion="${{github.event.release.tag_name}}" sign publish
        env:
          GRADLE_PUBLISH_REPO_URL: https://ossrh-staging-api.central.sonatype.com/service/local/staging/deploy/maven2/
          GRADLE_PUBLISH_MAVEN_USER: ${{secrets.MAVEN_USER}}
          GRADLE_PUBLISH_MAVEN_PASSWORD: ${{secrets.MAVEN_PASSWORD}}
          GRADLE_SIGNING_KEY: ${{secrets.SIGNING_KEY}}
          GRADLE_SIGNING_PASSWORD: ${{secrets.SIGNING_PASSPHRASE}}
      - name: Publish Milestone
        if: github.event.release.prerelease && (contains(github.event.release.tag_name, '.M') || contains(github.event.release.tag_name, '.RC'))
        run: ./gradlew --no-daemon -Pversion="${{github.event.release.tag_name}}" publish
        env:
          GRADLE_PUBLISH_REPO_URL: https://repo.spring.io/libs-milestone-local/
          GRADLE_PUBLISH_MAVEN_USER: ${{secrets.ARTIFACTORY_USERNAME}}
          GRADLE_PUBLISH_MAVEN_PASSWORD: ${{secrets.ARTIFACTORY_PASSWORD}}
      - name: Stage the release
        if: endsWith(github.event.release.tag_name, '.RELEASE')
        env:
          GRADLE_PUBLISH_MAVEN_USER: ${{secrets.MAVEN_USER}}
          GRADLE_PUBLISH_MAVEN_PASSWORD: ${{secrets.MAVEN_PASSWORD}}
        run: |
          GRADLE_PUBLISH_MAVEN_AUTHORIZATION=$(echo "${GRADLE_PUBLISH_MAVEN_USER}:${GRADLE_PUBLISH_MAVEN_PASSWORD}" | base64)
          REPOSITORY_RESPONSE=$(curl -s -X GET \
          -H "Authorization: Bearer ${GRADLE_PUBLISH_MAVEN_AUTHORIZATION}" \
          "https://ossrh-staging-api.central.sonatype.com/manual/search/repositories?state=open")
          REPOSITORY_KEY=$(echo "${REPOSITORY_RESPONSE}" | grep -o '"key":"[^"]*"' | head -1 | cut -d':' -f2 | tr -d '"')
          curl -s -X POST \
          -H "Authorization: Bearer ${GRADLE_PUBLISH_MAVEN_AUTHORIZATION}" \
          "https://ossrh-staging-api.central.sonatype.com/manual/upload/repository/${REPOSITORY_KEY}?publishing_type=user_managed"
