name: Snapshot

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  checkSnapshot:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '13' # Modern JVM is needed for Java 10+ specific tests
          distribution: 'adopt'
      - name: Run tests and javadoc
        run: ./gradlew check javadoc
  publishSnapshot:
    runs-on: ubuntu-22.04
    needs: checkSnapshot
    environment: snapshot
    env: #change this after a release
      BLOCKHOUND_VERSION: 1.0.17.BUILD-SNAPSHOT
    steps:
      - name: check version
        if: ${{ !endsWith(env.BLOCKHOUND_VERSION, '.BUILD-SNAPSHOT') }}
        run: |
          echo "::error ::$BLOCKHOUND_VERSION is not following the x.y.z.BUILD-SNAPSHOT format"
          exit 1
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Publish Snapshot
        run: ./gradlew --no-daemon -Pversion=$BLOCKHOUND_VERSION publish
        env:
          GRADLE_PUBLISH_REPO_URL: https://repo.spring.io/libs-snapshot-local/
          GRADLE_PUBLISH_MAVEN_USER: ${{secrets.ARTIFACTORY_USERNAME}}
          GRADLE_PUBLISH_MAVEN_PASSWORD: ${{secrets.ARTIFACTORY_PASSWORD}}
