name: Snapshot

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  checkSnapshot:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '13' # Modern JVM is needed for Java 10+ specific tests
          distribution: 'adopt'
      - name: Run tests and javadoc
        run: ./gradlew check javadoc
  publishSnapshot:
    runs-on: ubuntu-22.04
    needs: checkSnapshot
    environment: snapshot
    env: #change this after a release
      BLOCKHOUND_VERSION: 1.0.16.BUILD-SNAPSHOT
    steps:
      - name: check version
        if: ${{ !endsWith(env.BLOCKHOUND_VERSION, '.BUILD-SNAPSHOT') }}
        run: |
          echo "::error ::$BLOCKHOUND_VERSION is not following the x.y.z.BUILD-SNAPSHOT format"
          exit 1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Publish Snapshot
        run: ./gradlew --no-daemon -Pversion=$BLOCKHOUND_VERSION publish
        env:
          GRADLE_PUBLISH_REPO_URL: https://repo.spring.io/libs-snapshot-local/
          GRADLE_PUBLISH_MAVEN_USER: ${{secrets.ARTIFACTORY_USERNAME}}
          GRADLE_PUBLISH_MAVEN_PASSWORD: ${{secrets.ARTIFACTORY_PASSWORD}}
